header {
  text-align: center;
  margin-bottom: 20px;
  /* espace entre logo et formulaire */
}

.logo {
  display: block;
  margin: 0 auto;
  /* centre le logo */
  width: 150px;
}

.inscription {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* empile logo + formulaire */
  align-items: center;
  /* centre horizontalement */
  justify-content: flex-start;
  /* aligne en haut */
  min-height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px #ddd;
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input:focus {
  border-color: #b00;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #b00;
}

.switch {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #555;
}

.link {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: .82rem;
  color: #666;
  border-top: 1px solid #ddd;
}

.hidden {
  display: none;
}